<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>ch05.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalcServlet</display-name>
    <servlet-name>CalcServlet</servlet-name>
    <servlet-class>ch05.CalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcServlet</servlet-name>
    <url-pattern>/CalcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>ch08.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/pcontrol</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>ch09.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentControllers</display-name>
    <servlet-name>StudentControllers</servlet-name>
    <servlet-class>ch09.StudentControllers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentControllers</servlet-name>
    <url-pattern>/StudentControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsController</display-name>
    <servlet-name>NewsController</servlet-name>
    <servlet-class>ch10.NewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsController</servlet-name>
    <url-pattern>/news.nhn</url-pattern>
  </servlet-mapping>
</web-app>